---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<a href="/">
		<h1 class="uppercase font-bold">
			{SITE_TITLE}
		</h1>
	</a>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
</style>
