---
import { SITE_TITLE } from "../config";
---

<header class="mb-4">
	<a href="/">
		<h1
			class="uppercase font-bold text-red-500 hover:text-red-700 text-3xl"
		>
			{SITE_TITLE}
		</h1>
	</a>
</header>
