---
const { url, title, description, date } = Astro.props;

const shortDescription = `${description.substring(0, 50)} ...`;
---

<div class="mb-2">
    <div class="p-2 mb-2">
        <a href={url} class="text-black hover:text-red-500">
            <p class="mb-2 font-bold">
                {title}
            </p>
        </a>

        <p class="font-light mb-1">
            {shortDescription}
        </p>

        <p class="text-right italic text-sm">
            {date}
        </p>
    </div>

    <div class="h-px border-gray-400 border-b w-full">&nbsp;</div>
</div>
