---
const { url, title, description } = Astro.props;

const shortDescription = `${description.substring(0, 50)} ...`;
---

<div class="mb-2">
    <div class="p-2 mb-2">
        <div class="">
            <a
                href={url}
                class="text-black hover:text-slate-500 focus:text-slate-500"
            >
                <p class="mb-2 font-bold">
                    {title}
                </p>
            </a>

            <p class="font-light">
                {shortDescription}
            </p>
        </div>
    </div>

    <div class="h-px border-gray-400 border-b mb-2 w-full">&nbsp;</div>
</div>
